<router-outlet></router-outlet>
@if (this.load.loading){
<app-loading></app-loading>
} @else { @if (!this.auth.usuarioLogueado){
<button class="back-button" routerLink="/">
  <i class="fas fa-arrow-left"></i>
</button>
}
<div class="body">
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login" [formGroup]="formInicioSesion">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <input
              type="email"
              class="login__input"
              placeholder="Correo"
              formControlName="email"
            />
          </div>
          @if (mailError){
          <div class="error-message">
            <p>{{ mensajeMail }}</p>
          </div>
          }
          <div class="login__field">
            <i class="login__icon fas fa-lock"></i>
            <input
              type="password"
              class="login__input"
              placeholder="Contraseña"
              formControlName="contrasena"
            />
          </div>
          @if (contrasenaError){
          <div class="error-message">
            <p>{{ mensajeContrasena }}</p>
          </div>
          }
          <button class="button login__submit" (click)="login()" type="button">
            <span class="button__text">Iniciar Sesión</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
          @if (usuarioNoEncontrado){
          <div class="error-message">
            <p>{{ mensajeUsuario }}</p>
          </div>
          }
        </form>
        <div class="small-button-container">
          <div class="column left-column">
            <h4>Administradores</h4>
            <button class="small-button" (click)="iniciarOsborn()">
              Osborn
            </button>
            <button class="small-button" (click)="iniciarJameson()">
              Jameson
            </button>
          </div>
          <div class="column right-column">
            <h4>Especialistas</h4>

            <button class="small-button" (click)="iniciarParker()">
              Parker
            </button>
            <button class="small-button" (click)="iniciarStacy()">Stacy</button>
          </div>
          <div class="column center-column">
            <h4>Pacientes</h4>

            <button class="small-button" (click)="iniciarMorales()">
              Morales
            </button>
            <button class="small-button" (click)="iniciarPryde()">Pryde</button>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span
          class="screen__background__shape screen__background__shape4"
        ></span>
        <span
          class="screen__background__shape screen__background__shape3"
        ></span>
        <span
          class="screen__background__shape screen__background__shape2"
        ></span>
        <span
          class="screen__background__shape screen__background__shape1"
        ></span>
      </div>
    </div>
    <!-- <div class="social-login">
      <h2 routerLink="/ingresar-registrarse">Registrarse</h2>
    </div> -->
    <div class="contenedor-botones">
      <H4>Administrador</H4>
      <button class="boton" (click)="iniciarOsborn()">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/clinica-yapura.appspot.com/o/ImagenesDePerfil%2F1730124310733_photo.jpg?alt=media&token=275fba0e-102c-4764-b69a-8b6a8ba8df34"
          alt="Norman Osborn"
        />
      </button>
      <H4>Especialistas</H4>

      <button class="boton" (click)="iniciarParker()">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/clinica-yapura.appspot.com/o/ImagenesDePerfil%2F1730122184000_photo.jpg?alt=media&token=f667462f-1aec-43e8-a522-cce58cc86ec0"
          alt="Peter Parker"
        />
      </button>
      <button class="boton" (click)="iniciarStacy()">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/clinica-yapura.appspot.com/o/ImagenesDePerfil%2F1730124274527_photo.jpg?alt=media&token=347b9294-7653-40e5-b406-e0f6e9c9fa80"
          alt="Gwen Stacy"
        />
      </button>
      <H4>Pacientes</H4>

      <button class="boton" (click)="iniciarMorales()">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/clinica-yapura.appspot.com/o/ImagenesDePerfil%2F1730122845105_photo.jpg?alt=media&token=dd2b3fc5-22ab-4267-85ff-26b1f6ee0a8f"
          alt="Miles Morales"
        />
      </button>
      <button class="boton" (click)="iniciarPryde()">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/clinica-yapura.appspot.com/o/ImagenesDePerfil%2F1731898482717_photo.jpg?alt=media&token=e3d9dd09-49fe-4ddb-90bf-6ff4f4d5b028"
          alt="Mark Grayson"
        />
      </button>
      <button class="boton" (click)="iniciarHarry()">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/clinica-yapura.appspot.com/o/ImagenesDePerfil%2F1730313213759_photo.jpg?alt=media&token=c1ec2ae7-24a8-41d0-bde7-ae56d3238508"
          alt="Harry Osborn"
        />
      </button>
    </div>
  </div>
</div>
}
