<div class="body">
  <div class="appointment-form-container">
    <h2>Solicitar Turno</h2>
    <form class="appointment-form" [formGroup]="formTurno">
      <div class="form-group">
        <label for="doctor">Selecciona un especialista</label>

        <div class="especialistas-container">
          @for (especialista of this.especialistas; track $index) {

          <div class="especialista">
            <p class="nombre-especialista">
              {{ especialista | mostrarNombre : "doctor" }}
            </p>
            <button
              type="button"
              class="especialista-button"
              (click)="asignarEspecialista(especialista)"
              [ngClass]="{
                selected: especialistaSeleccionado === especialista
              }"
            >
              <img
                src="{{ especialista.fotoPerfil }}"
                alt="{{ especialista.nombre }}"
                class="especialista-img"
              />
            </button>
          </div>

          }
        </div>
      </div>
      @if (especialistasError){
      <div class="error-message">
        <p>{{ mensajeEspecialista }}</p>
      </div>
      } @if (this.formTurno.controls["especialista"].value !== ""){
      <div class="especialidades-container">
        @for (especialidad of this.obtenerEspecialidades(); track $index) {

        <div class="especialidad">
          <p class="nombre-especialidad">
            {{ especialidad }}
          </p>
          <button
            type="button"
            class="especialidad-button"
            (click)="asignarEspecialidad(especialidad)"
            [ngClass]="{ selected: especialidadSeleccionada === especialidad }"
          >
            <img
              src="/especialidades/{{
                quitarTildes(especialidad).toLocaleLowerCase()
              }}.png"
              alt="{{ especialidad }}"
              class="especialidad-img"
              (error)="asignarImagenDefault($event)"
            />
          </button>
        </div>

        }
      </div>
      @if (especialidadError){
      <div class="error-message">
        <p>{{ mensajeEspecialidad }}</p>
      </div>
      } } @if ( this.formTurno.controls['especialista'].value !== "" &&
      this.formTurno.controls['especialidad'].value !== "" ){

      <div class="form-group">
        <label>Fecha de la consulta</label>
        <div class="button-group">
          @for (dia of turnosDisponibles; track $index) {
          <button
            [disabled]="!dia.disponible"
            [class.ocupado]="!dia.disponible"
            [class.selected]="diaSeleccionado === dia"
            (click)="seleccionarDia(dia)"
          >
            {{ dia.fecha | date : "yyyy-MM-dd h:mm a" }}
          </button>

          }
        </div>
      </div>
      @if (fechaError){
      <div class="error-message">
        <p>{{ mensajeFecha }}</p>
      </div>
      } } @if (this.auth.tipoDeUsuario === "administrador"){
      <div class="form-group">
        <label for="paciente">Paciente</label>

        <select id="paciente" formControlName="paciente">
          <option value="" selected>Selecciona un paciente</option>
          @for (paciente of this.obtenerNombresPacientes(); track $index) {
          <option value="{{ paciente }}">
            {{ paciente }}
          </option>
          }
        </select>
      </div>
      @if (pacienteError){
      <div class="error-message">
        <p>{{ mensajePaciente }}</p>
      </div>
      } }
      <button class="submit-button" (click)="guardarTurno()">
        Solicitar Turno
      </button>
    </form>
  </div>
</div>
