.body {
  margin: 0 auto;
  padding: 20px;
}

.appointment-form-container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 870px;
  width: 90%;
}

.appointment-form-container h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}

.appointment-form input,
.appointment-form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.appointment-form input:focus,
.appointment-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  background-color: #0056b3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #003976;
}

.appointment-form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  appearance: none;
  transition: border-color 0.3s ease;
}

.appointment-form select:focus {
  border-color: #007bff;
  outline: none;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  justify-items: center;
  padding: 10px;
}

.button-group button {
  padding: 8px;
  margin: 5px;
  border: 1px solid #90aac6;
  border-radius: 5px;
  background-color: #fffdfd;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button.selected {
  background-color: #0056b3;
  color: white;
}

.button-group button:hover:not(.selected) {
  background-color: #d0e7ff;
}

.error-message {
  color: #c74d4d;
  line-height: 0px;
  font-style: italic;
  margin-bottom: 10px;
  width: 100%;
}

/* ------------------------------ */

.especialistas-container,
.especialidades-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  padding: 10px;
  margin: 25px 0;
}

.especialista,
.especialidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nombre-especialista,
.nombre-especialidad {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.especialista-button,
.especialidad-button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.especialidad-button:active,
.especialidad-button:focus {
  border-color: #007bff;
  background-color: #9ac9f2;
  outline: none;
  transform: scale(1.05);
}

.especialista-button:hover,
.especialidad-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.especialista-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.especialidad-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.especialista-button.selected,
.especialidad-button.selected {
  transform: scale(1.15);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  border-color: #007bff;
  background-color: #9ac9f2;
}

.especialista-img.selected,
.especialidad-img.selected {
  transform: scale(1.15);
}
