<div class="appointment-container">
  <div class="search-bar">
    <input type="text" placeholder="Buscar..." [(ngModel)]="query" />
  </div>
  <div class="appointment-list">
    @for (turno of obtenerTurnos(); track $index) {

    <div class="appointment-card">
      <div class="appointment-header">
        <h3>{{ turno.paciente }}</h3>
        <p>{{ turno.especialidad }}</p>
      </div>

      <div class="appointment-info">
        <p><strong>Día:</strong> {{ turno.fecha }}</p>
        <p>
          <strong>Hora:</strong>
          {{ turno.hora }}
        </p>
        <p class="{{ turno.estado }}">
          <strong>Estado:</strong> {{ turno.estado }}
        </p>
      </div>

      <div class="appointment-actions">
        @if (turno.estado === "solicitado"){
        <button class="cancel-button" (click)="rechazarTurno(turno)">
          <img src="/mis-turnos/rechazar.png" alt="cancelar" />
        </button>

        <button class="cancel-button" (click)="aceptarTurno(turno)">
          <img src="/mis-turnos/accept.png" alt="cancelar" />
        </button>
        } @if (turno.estado === "no realizado") {
        <button class="cancel-button" (click)="cancelarTurno(turno)">
          <img src="/mis-turnos/cancelar.png" alt="cancelar" />
        </button>

        <button class="cancel-button" (click)="finalizarTurno(turno)">
          <img src="/mis-turnos/finalizar.png" alt="cancelar" />
        </button>
        } @if (turno.estado === "realizado") {
        <button class="cancel-button" (click)="mostrarResena(turno.resena)">
          <img src="/mis-turnos/reseña.png" alt="cancelar" />
        </button>
        }
      </div>
    </div>
    }
  </div>
</div>

@if (this.activarResena){
<div class="modal-overlay"></div>
<div class="modal">
  <p>{{ this.mensajeResena }}</p>
  <button class="btn-resena" (click)="activarResena = false">Volver</button>
</div>
}
<!-- solicitado / no realizado / rechazado / realizado -->
