.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.centered-image {
  max-width: 170px;
  margin-bottom: 20px;
}

.welcome-title {
  font-size: 80px;
  margin-bottom: 70px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.left-button,
.right-button,
.bottom-button {
  padding: 12px 24px;
  font-size: 20px;
  margin: 0 40px;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-button:hover,
.right-button:hover,
.bottom-button:hover {
  background-color: #0056b3;
}

.bottom-button {
  margin-top: 30px;
}
