<div class="body">
  <div class="user-type-buttons">
    <button
      class="user-type-button"
      id="adminButton"
      (click)="mostrarAdministradores()"
    >
      Administradores
    </button>
    <button
      class="user-type-button"
      id="guestButton"
      (click)="mostrarEspecialistas()"
    >
      Especialistas
    </button>
    <button
      class="user-type-button"
      id="regularButton"
      (click)="mostrarPacientes()"
    >
      Pacientes
    </button>
  </div>

  <div class="cards-list">
    <div class="card-container">
      @if (this.mostrarInfoAdministradores){ @for (admin of
      this.administradores; track $index) {

      <div class="card">
        <div class="card-header">
          <img
            class="profile-img"
            src="{{ admin.fotoPerfil }}"
            alt="Imagen del paciente"
          />
          <div class="patient-info">
            <h2 class="patient-name">
              {{ admin.nombre }} {{ admin.apellido }}
            </h2>
            <p class="patient-specialty">{{ admin.edad }} años</p>
          </div>
        </div>
        <div class="card-body">
          <div class="appointment-details">
            <h3 class="appointment-title">Información:</h3>
            <p><strong>Correo:</strong> {{ admin.email }}</p>
            <p><strong>DNI:</strong> {{ admin.dni }}</p>
          </div>
        </div>
      </div>
      } } @else if (this.mostrarInfoEspecialistas){ @for (esp of
      this.especialistas; track $index) {

      <div class="card">
        <div class="card-header">
          <img
            class="profile-img"
            src="{{ esp.fotoPerfil }}"
            alt="Imagen del paciente"
          />
          <div class="patient-info">
            <h2 class="patient-name">{{ esp.nombre }} {{ esp.apellido }}</h2>
            <p class="patient-specialty">{{ esp.edad }} años</p>
          </div>
        </div>
        <div class="card-body">
          <div class="appointment-details">
            <h3 class="appointment-title">Información:</h3>
            <p><strong>Correo:</strong> {{ esp.email }}</p>
            <p><strong>DNI:</strong> {{ esp.dni }}</p>
          </div>
          <h3 class="appointment-title">Especialidades:</h3>
          @for (especialidad of esp.especialidades; track $index) {
          <p class="esp-lista">- {{ especialidad }}</p>
          }
          <h3 class="appointment-title">Estado:</h3>
          @if (esp.acceso === "pendiente"){
          <p class="{{ esp.acceso }}" (click)="cambiarEstadoAcceso(esp)">
            {{ esp.acceso }}
          </p>
          } @else {
          <p class="{{ esp.acceso }}">{{ esp.acceso }}</p>
          }
        </div>
      </div>
      } } @else if (this.mostrarInfoPacientes){ @for (pac of pacientes; track
      pacientes.length) {
      <div class="card">
        <div class="card-header">
          <img
            class="profile-img"
            src="{{ pac.fotoPerfil }}"
            alt="Imagen del paciente"
          />
          <div class="patient-info">
            <h2 class="patient-name">{{ pac.nombre }} {{ pac.apellido }}</h2>
            <p class="patient-specialty">{{ pac.edad }} años</p>
          </div>
        </div>
        <div class="card-body">
          <div class="appointment-details">
            <h3 class="appointment-title">Información:</h3>
            <p><strong>Correo:</strong> {{ pac.email }}</p>
            <p><strong>Obra Social:</strong> {{ pac.obraSocial }}</p>
          </div>
          @if (turnosFiltrados(pac).length > 0 ){
          <h3 class="appointment-title">Últimos turnos:</h3>

          @for (t of turnosFiltrados(pac) | slice:0:3 ; track $index) {
          <p></p>
          <p class="appointment-date">
            {{ t.fecha.getDate() }}/{{ t.fecha.getMonth() + 1 }}/{{
              t.fecha.getFullYear()
            }}
            - {{ t.fecha.getHours() }}:{{ t.fecha.getMinutes() }}
          </p>

          } }
        </div>
        <div class="card-footer">
          <button class="btn-details" (click)="desplegarHistorialClinico(pac)">
            Ver Historial clínico
          </button>
        </div>
      </div>
      } }
    </div>
  </div>

  @if (this.mostrarHistorialClinico){
  <div class="clinic-history-container">
    <h2 class="clinic-history-title">
      Historial Clínico de: {{ pacienteSeleccionado?.nombre }}
      {{ pacienteSeleccionado?.apellido }}
    </h2>

    <div class="clinic-history-list">
      @for (turno of turnosPacienteSeleccionado; track $index) {

      <div class="clinic-history-card">
        <div class="clinic-history-card-header">
          <h3 class="clinic-history-patient-name">
            Dr/a. {{ turno.especialista }} - {{ turno.especialidad }}
          </h3>
          <p class="clinic-history-date">
            {{ turno.fecha.getDate() }}/{{ turno.fecha.getMonth() + 1 }}/{{
              turno.fecha.getFullYear()
            }}
          </p>
        </div>

        <div class="clinic-history-info">
          <p><strong>Altura:</strong> {{ turno.historialClinico.altura }} cm</p>
          <p><strong>Peso:</strong> {{ turno.historialClinico.peso }} kg</p>
          <p>
            <strong>Temperatura:</strong>
            {{ turno.historialClinico.temperatura }} °C
          </p>
          <p>
            <strong>Presión:</strong> {{ turno.historialClinico.presion }} mmHH
          </p>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Observaciones</h4>
          <ul>
            @for (dato of turno.historialClinico.datosAdicionales; track $index)
            {

            <li>
              <strong>{{ dato.clave }}:</strong> {{ dato.valor }}
            </li>
            }
          </ul>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Reseña</h4>
          <p>{{ turno.resena }}</p>
        </div>
      </div>
      }
    </div>
    @if (turnosFiltrados(pacienteSeleccionado).length > 0 ){
    <button class="descargar-datos" (click)="descargarExcel()">
      Descargar datos
    </button>
    }
  </div>
  }
</div>
