.body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 5px;
  /* background-color: #000; */
}

.user-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 10px;
}

.user-table {
  width: 90%;
  border-collapse: collapse;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.user-table th {
  background-color: #343a40;
  color: #ffffff;
  padding: 15px;
  text-align: left;
}

.user-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.user-table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-table img:hover {
  cursor: pointer;
  scale: 1.05;
}

/* Colores alternos en las filas */
.user-table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.user-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Contenedor de botones */
.user-type-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

/* Botones de tipo de usuario */
.user-type-button {
  background-color: #343a40;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-type-button:hover {
  background-color: #495057;
}

.user-type-button:active {
  background-color: #212529;
}

.back-button {
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: larger;
}

.permitido {
  color: #409f43;
  font-weight: bold;
}

.denegado {
  color: #bb1c2a;
  font-weight: bold;
}

.pendiente {
  color: #d1b82c;
  font-weight: bold;

  cursor: pointer;
}

/* ---------------------- */

.clinic-history-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.clinic-history-title {
  font-size: 2rem;
  color: #1a4d7f;
  text-align: center;
  margin-bottom: 30px;
}

.clinic-history-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.clinic-history-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clinic-history-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.clinic-history-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.clinic-history-patient-name {
  font-size: 1.5rem;
  color: #003366;
  font-weight: bold;
}

.clinic-history-date {
  font-size: 1rem;
  color: #4f9dde;
}

.clinic-history-info p {
  margin: 8px 0;
  font-size: 1rem;
  color: #333333;
}

.clinic-history-info strong {
  color: #1a4d7f;
}

.clinic-history-additional-info {
  margin-top: 15px;
  background-color: #eaf3f9;
  padding: 10px;
  padding-top: 5px;
  border-radius: 5px;
}

.clinic-history-additional-info h4 {
  font-size: 1.2rem;
  color: #1a4d7f;
  margin-bottom: 15px;
}

.clinic-history-additional-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clinic-history-additional-info li {
  font-size: 1rem;
  margin: 10px 0;
  color: #333333;
}
