.body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
  /* background-color: #000; */
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.cover-photo {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  width: 100%;
  z-index: 100;
}

.profile-photo {
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #000;
  margin-top: -80px;
  margin-bottom: 10px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info h2 {
  font-size: 35px;
  margin: 20px 0;
}

.profile-info p {
  margin: 5px 0;
  font-size: 18px;
}

/* ------------------------ */

.clinic-history-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.clinic-history-title {
  font-size: 2rem;
  color: #1a4d7f;
  text-align: center;
  margin-bottom: 20px;
}

.clinic-history-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.clinic-history-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clinic-history-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.clinic-history-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.clinic-history-patient-name {
  font-size: 1.5rem;
  color: #003366;
  font-weight: bold;
}

.clinic-history-date {
  font-size: 1rem;
  color: #4f9dde;
}

.clinic-history-info p {
  margin: 8px 0;
  font-size: 1rem;
  color: #333333;
}

.clinic-history-info strong {
  color: #1a4d7f;
}

.clinic-history-additional-info {
  margin-top: 15px;
  background-color: #eaf3f9;
  padding: 10px;
  padding-top: 5px;
  border-radius: 5px;
}

.clinic-history-additional-info h4 {
  font-size: 1.2rem;
  color: #1a4d7f;
  margin-bottom: 15px;
}

.clinic-history-additional-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clinic-history-additional-info li {
  font-size: 1rem;
  margin: 10px 0;
  color: #333333;
}

/* ---------- */

/* Estilo del botón */
.btn-open-modal {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.btn-open-modal:hover {
  background-color: #45a049;
}

/* Fondo del modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenedor del modal */
.modal {
  background-color: #9fc5e3;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Cabecera del modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
}

.btn-close {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Cuerpo del modal */
.modal-body {
  margin-bottom: 20px;
}

.modal-body label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-body select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Pie del modal */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.btn-cancel:hover {
  background-color: #e53935;
}

.btn-confirm {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.btn-confirm:hover {
  background-color: #45a049;
}
