<div class="body">
  <div class="user-profile">
    <div class="cover-photo">
      @if (this.auth.tipoDeUsuario === "paciente"){
      <img src="{{ this.auth.usuario.fotoPortada }}" alt="Foto de Portada" />
      } @else {
      <img src="/banner.png" alt="Foto de Portada" />
      }
    </div>
    <div class="profile-info">
      <div class="profile-photo">
        <img src="{{ this.auth.usuario.fotoPerfil }}" alt="Foto de Perfil" />
      </div>
      <h2 style="margin-top: 20px">
        {{ this.auth.usuario.nombre }} {{ this.auth.usuario.apellido }}
      </h2>

      <p>Correo: {{ this.auth.usuario.email }}</p>
      <p>DNI: {{ this.auth.usuario.dni }}</p>
      <p>Edad: {{ this.auth.usuario.edad }} años</p>
      @if (this.auth.tipoDeUsuario === "paciente"){
      <p>Obra Social: {{ this.auth.usuario.obraSocial }}</p>
      } @else if (this.auth.tipoDeUsuario === "especialista"){
      <h3 style="margin-bottom: 10px; margin-top: 30px">Especialidades:</h3>
      @for (esp of this.auth.usuario.especialidades; track $index) {
      <p>{{ esp }}</p>

      } }
    </div>
  </div>

  @if (this.auth.tipoDeUsuario === "paciente"){
  <div class="clinic-history-container" #turnosPDF>
    <h2 class="clinic-history-title">Historial Clínico</h2>

    <div class="clinic-history-list">
      @for (turno of turnos; track $index) {

      <div class="clinic-history-card">
        <div class="clinic-history-card-header">
          <h3 class="clinic-history-patient-name">
            Dr/a. {{ turno.especialista }} - {{ turno.especialidad }}
          </h3>
          <p class="clinic-history-date">
            {{ turno.fecha | date : "dd/MM/yyyy" }}
          </p>
        </div>

        <div class="clinic-history-info">
          <p><strong>Altura:</strong> {{ turno.historialClinico.altura }} cm</p>
          <p><strong>Peso:</strong> {{ turno.historialClinico.peso }} kg</p>
          <p>
            <strong>Temperatura:</strong>
            {{ turno.historialClinico.temperatura }} °C
          </p>
          <p>
            <strong>Presión:</strong> {{ turno.historialClinico.presion }} mmHg
          </p>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Observaciones</h4>
          <ul>
            @for (dato of turno.historialClinico.datosAdicionales; track $index)
            {

            <li>
              <strong>{{ dato.clave }}:</strong> {{ dato.valor }}
            </li>
            }
          </ul>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Reseña</h4>
          <p>{{ turno.resena }}</p>
        </div>
      </div>
      }
    </div>
  </div>
  <button (click)="abrirModal()">Descargar PDF</button>
  }
</div>

@if (this.mostrarModal){

<div class="modal-backdrop">
  <div class="modal">
    <div class="modal-header">
      <h2>Filtrar por especialidad</h2>
      <button class="btn-close" (click)="cerrarModal()">×</button>
    </div>
    <div class="modal-body">
      <label for="especialidad-select">Especialidad:</label>
      <select id="especialidad-select" [(ngModel)]="especialidadSeleccionada">
        <option value="todas">Todas</option>
        @for (especialidad of especialidades; track $index) {
        <option [value]="especialidad">
          {{ especialidad }}
        </option>

        }
      </select>
    </div>
    <div class="modal-footer">
      <button class="btn-cancel" (click)="cerrarModal()">Cancelar</button>
      <button
        class="btn-confirm"
        (click)="generarPDF(especialidadSeleccionada)"
      >
        Descargar
      </button>
    </div>
  </div>
</div>
}
