<div class="body">
  <div class="cards-list">
    <div class="card-container">
      @for (paciente of pacientesConTurno; track $index) {

      <div class="card">
        <div class="card-header">
          <img
            class="profile-img"
            src="{{ paciente.fotoPerfil }}"
            alt="Imagen del paciente"
          />
          <div class="patient-info">
            <h2 class="patient-name">
              {{ paciente | mostrarNombre : "nombreApellido" }}
            </h2>
            <p class="patient-specialty">{{ paciente.edad }} años</p>
          </div>
        </div>
        <div class="card-body">
          <div class="appointment-details">
            <h3 class="appointment-title">Información:</h3>
            <p><strong>Correo:</strong> {{ paciente.email }}</p>
            <p><strong>Obra Social:</strong> {{ paciente.obraSocial }}</p>
          </div>
          <h3 class="appointment-title">Últimos turnos:</h3>
          @for (t of turnos; track $index) { @if (t.paciente === paciente.nombre
          + " " + paciente.apellido) { @if ($index < 3){
          <p class="appointment-date">
            {{ t.fecha | date : "dd/MM/yyyy" }}
            - {{ t.fecha | date : "shortTime" }}
          </p>

          } } }
        </div>
        <div class="card-footer">
          <button
            class="btn-details"
            (click)="desplegarHistorialClinico(paciente)"
          >
            Ver Historial clínico
          </button>
        </div>
      </div>
      }
    </div>
  </div>

  @if (this.mostrarHistorialClinico){
  <div class="clinic-history-container">
    <h2 class="clinic-history-title">
      Historial Clínico de: {{ pacienteSeleccionado?.nombre }}
      {{ pacienteSeleccionado?.apellido }}
    </h2>

    <div class="clinic-history-list">
      @for (turno of turnosPacienteSeleccionado; track $index) {

      <div class="clinic-history-card">
        <div class="clinic-history-card-header">
          <h3 class="clinic-history-patient-name">
            Dr/a. {{ turno.especialista }} - {{ turno.especialidad }}
          </h3>
          <p class="clinic-history-date">
            {{ turno.fecha.getDate() }}/{{ turno.fecha.getMonth() + 1 }}/{{
              turno.fecha.getFullYear()
            }}
          </p>
        </div>

        <div class="clinic-history-info">
          <p>
            <strong>Altura:</strong>
            {{ turno.historialClinico.altura | agregarUnidadMedida : "cm" }}
          </p>
          <p>
            <strong>Peso:</strong>
            {{ turno.historialClinico.peso | agregarUnidadMedida : "kg" }}
          </p>
          <p>
            <strong>Temperatura:</strong>
            {{
              turno.historialClinico.temperatura | agregarUnidadMedida : "°C"
            }}
          </p>
          <p>
            <strong>Presión:</strong>
            {{ turno.historialClinico.presion | agregarUnidadMedida : "mmHg" }}
          </p>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Observaciones</h4>
          <ul>
            @for (dato of turno.historialClinico.datosAdicionales; track $index)
            {

            <li>
              <strong>{{ dato.clave }}:</strong> {{ dato.valor }}
            </li>
            }
          </ul>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Reseña</h4>
          <p>{{ turno.resena }}</p>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
