<div class="body">
  <div class="appointment-form-container">
    <h2>Pacientes</h2>

    <div class="pacientes-container">
      @for (paciente of this.pacientes; track $index) {

      <div class="paciente">
        <p class="nombre-paciente">
          {{ paciente.nombre }} {{ paciente.apellido }}
        </p>
        <button type="button" class="paciente-button">
          <img
            src="{{ paciente.fotoPerfil }}"
            alt="{{ paciente.nombre }}"
            class="paciente-img"
          />
        </button>
      </div>

      }
    </div>
  </div>

  @if (this.mostrarHistorialClinico){
  <div class="clinic-history-container">
    <h2 class="clinic-history-title">
      Historial Clínico de: {{ pacienteSeleccionado?.nombre }}
      {{ pacienteSeleccionado?.apellido }}
    </h2>

    <div class="clinic-history-list">
      @for (turno of turnosPacienteSeleccionado; track $index) {

      <div class="clinic-history-card">
        <div class="clinic-history-card-header">
          <h3 class="clinic-history-patient-name">
            Dr/a. {{ turno.especialista }} - {{ turno.especialidad }}
          </h3>
          <p class="clinic-history-date">
            {{ turno.fecha }}
          </p>
        </div>

        <div class="clinic-history-info">
          <p><strong>Altura:</strong> {{ turno.historialClinico.altura }} cm</p>
          <p><strong>Peso:</strong> {{ turno.historialClinico.peso }} kg</p>
          <p>
            <strong>Temperatura:</strong>
            {{ turno.historialClinico.temperatura }} °C
          </p>
          <p><strong>Presión:</strong> {{ turno.historialClinico.presion }}</p>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Observaciones</h4>
          <ul>
            @for (dato of turno.historialClinico.datosAdicionales; track $index)
            {

            <li>
              <strong>{{ dato.clave }}:</strong> {{ dato.valor }}
            </li>
            }
          </ul>
        </div>

        <div class="clinic-history-additional-info">
          <h4>Reseña</h4>
          <p>{{ turno.resena }}</p>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
