@if (load.loading || this.load.cargandoRegistro || this.load.cargandoLogin){
<app-loading></app-loading>
} @else { @if (this.auth.usuarioEncontrado){
<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="nav-link">Inicio</a>
    @if (this.auth.tipoDeUsuario === "administrador"){
    <a routerLink="/usuarios" class="nav-link">Usuarios</a>
    <a routerLink="/registrar-administradores" class="nav-link"
      >Registrar administradores</a
    >
    <a routerLink="/registrarse" class="nav-link"
      >Registrar Pacientes / Especialistas</a
    >
    <a routerLink="/solicitar-turno" class="nav-link">Solicitar turno</a>
    <a routerLink="/turnos" class="nav-link">Turnos</a>
    <a routerLink="/graficos-estadisticas" class="nav-link"
      >Gráficos y estadíticas</a
    >

    } @else if (this.auth.tipoDeUsuario === "paciente"){
    <a routerLink="/solicitar-turno" class="nav-link">Solicitar turno</a>
    <a routerLink="/mis-turnos-paciente" class="nav-link">Mis turnos</a>
    } @else if (this.auth.tipoDeUsuario === "especialista"){
    <a routerLink="/mis-turnos-especialista" class="nav-link">Mis turnos</a>
    <a routerLink="/pacientes" class="nav-link">Pacientes</a>

    }
  </div>
  <div class="navbar-right">
    <img
      src="{{ this.auth.usuario.fotoPerfil }}"
      alt="Foto de Usuario"
      class="user-photo"
      (click)="togglePanel()"
    />
  </div>
</nav>
} @if (mostrarPanel){
<div class="profile-panel">
  <div class="cover-photo">
    @if (this.auth.tipoDeUsuario === "paciente"){
    <img src="{{ this.auth.usuario.fotoPortada }}" alt="Cover Photo" />
    } @else {
    <img src="/banner.png" alt="Cover Photo" />
    }
  </div>
  <div class="profile-photo">
    <img src="{{ this.auth.usuario.fotoPerfil }}" alt="User Photo" />
  </div>
  <h3>{{ auth.usuario.nombre }} {{ auth.usuario.apellido }}</h3>
  <p>{{ auth.usuario.email }}</p>
  @if (this.auth.tipoDeUsuario === "especialista"){
  <p>{{ auth.usuario.especialidad }}</p>
  }

  <button class="ver-perfil" (click)="verMiPerfil()">Mi perfil</button>

  <button class="logout-button" (click)="cerrarSesion()">Cerrar Sesión</button>
</div>
}
<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>
}
