@if (!this.auth.usuarioLogueado){
<button class="back-button" routerLink="/home">
  <i class="fas fa-arrow-left"></i>
</button>
}
<div class="button-container">
  <button class="custom-button" (click)="ingresarPaciente()">
    <img src="/registro/paciente.png" class="icon" alt="pacientes" />
  </button>
  <button class="custom-button" (click)="ingresarEspecialista()">
    <img
      src="/registro/especialista.png"
      class="icon"
      alt="especialistas"
      routerLink="/registrarse-especialistas"
    />
  </button>
</div>
