* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  margin: 0;
}

span {
  font-size: 12px;
}

a {
  color: #161a1d;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

form {
  background-color: #f5f3f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #d3d3d3;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input + button {
  margin-top: 20px;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.error-message {
  color: #be2b2b;
  line-height: 0px;
  padding: 0;
  margin-bottom: 10px;
  width: 450px;
}

.error-message + button {
  margin-top: 15px;
}
