<div class="appointment-container">
  <div class="search-bar">
    <input type="text" placeholder="Buscar..." [(ngModel)]="query" />
  </div>
  <div class="appointment-list">
    @for (turno of obtenerTurnos(); track $index) {

    <div class="appointment-card">
      <div class="appointment-header">
        <h3>Especialista: {{ turno.especialista }}</h3>
        <h4>Paciente: {{ turno.paciente }}</h4>
        <p>{{ turno.especialidad }}</p>
      </div>

      <div class="appointment-info">
        <p><strong>Día:</strong> {{ turno.fecha | date : "dd/MM/yyyy" }}</p>
        <p>
          <strong>Hora:</strong>
          {{ turno.fecha | date : "shortTime" }}
        </p>
        <p class="{{ turno.estado }}">
          <strong>Estado:</strong> {{ turno.estado }}
        </p>

        @if (turno.historialClinico !== ""){
        <p><strong>Altura:</strong> {{ turno.historialClinico.altura }} cm</p>
        <p><strong>Peso:</strong> {{ turno.historialClinico.peso }} kg</p>
        <p>
          <strong>Temperatura:</strong>
          {{ turno.historialClinico.temperatura }} °C
        </p>
        <p>
          <strong>Presión:</strong> {{ turno.historialClinico.presion }} mmHg
        </p>
        @for (datoAdicional of turno.historialClinico.datosAdicionales; track
        $index) {
        <p>
          <strong>{{ datoAdicional.clave }}: </strong>
          {{ datoAdicional.valor }}
        </p>
        } }
      </div>

      <div class="appointment-actions">
        @if (turno.estado === "no realizado" || turno.estado === "solicitado") {
        <button class="cancel-button" (click)="cancelarTurno(turno)">
          <img src="/mis-turnos/cancelar.png" alt="cancelar" />
        </button>

        }
      </div>
    </div>
    }
  </div>
</div>
