<div class="appointment-container">
  <div class="search-bar">
    <input type="text" placeholder="Buscar..." [(ngModel)]="query" />
  </div>
  <div class="appointment-list">
    @for (turno of obtenerTurnos(); track $index) {

    <div class="appointment-card">
      <div class="appointment-header">
        <h3>{{ turno.paciente }}</h3>
        <p>{{ turno.especialidad }}</p>
      </div>

      <div class="appointment-info">
        <p><strong>Día:</strong> {{ turno.fecha }} -</p>
        <p>
          <strong>Hora:</strong>
          {{ turno.hora }}
        </p>
        <p><strong>Estado:</strong> {{ turno.estado }}</p>
      </div>

      <div class="appointment-actions">
        @if (turno.estado === "No realizada") {
        <button class="cancel-button" (click)="cancelarTurno(turno)">
          <img src="/mis-turnos/cancelar.png" alt="cancelar" />
        </button>

        }
      </div>
    </div>
    }
  </div>
</div>
