<router-outlet></router-outlet>
@if (!this.auth.usuarioLogueado){
<button class="back-button" routerLink="/">
  <i class="fas fa-arrow-left"></i>
</button>
}
<div class="body">
  <div class="container {{ containerClass }}" id="container" #container>
    <div class="form-container especialistas-container">
      <app-especialistas></app-especialistas>
    </div>
    <div class="form-container pacientes-container">
      <app-pacientes></app-pacientes>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Registrar Paciente</h1>
          <p>Registrese para reservar turnos para consulta o tratamiento</p>
          <button class="ghost" (click)="registrarPacientes()">
            Registrarse
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Registrar Especialista</h1>
          <p>
            Registrese para atender consultas u ofrecer tratamientos a los
            pacientes
          </p>
          <button class="ghost" (click)="registrarEspecialistas()">
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
